In [66]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings   # remove all warnings from the output
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns", 500)  ## this will display all the columns in the output of .csv file
pd.set_option("display.max_rows", 500)

In [67]:
def null(df, feature, plot=False):
    t = df[feature].isna().mean() * 100
    print(f'% of null --> {t}')
    if plot:
        sns.countplot(dataset[feature], palette='cool')

In [68]:
train_data = pd.read_csv('Train_Data.csv')
train_data.head()

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue
0,01-08-2020,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00
1,01-08-2020,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00
2,01-08-2020,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00
3,01-08-2020,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00
4,01-08-2020,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71

In [69]:
train_data.describe()

       impressions       clicks         cost  conversions       revenue
count  4571.000000  4571.000000  4571.000000  4571.000000   4571.000000
mean     92.635747    43.340844     2.800834     1.339094    231.865340
std     198.349737   100.164913    14.361618     5.223922   1091.742763
min       1.000000     0.000000     0.000000     0.000000      0.000000
25%       6.000000     2.000000     0.040000     0.000000      0.000000
50%      16.000000     7.000000     0.210000     0.000000      0.000000
75%      84.000000    38.000000     1.350000     1.000000     92.600000
max    3239.000000  1771.000000   531.250000    94.000000  20515.410000

In [70]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4571 entries, 0 to 4570
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         4571 non-null   object
 1   campaign     4571 non-null   object
 2   adgroup      4571 non-null   object
 3   ad           4571 non-null   object
 4   impressions  4571 non-null   int64
 5   clicks       4571 non-null   int64
 6   cost         4571 non-null   float64
 7   conversions  4571 non-null   int64
 8   revenue      4571 non-null   float64
dtypes: float64(2), int64(3), object(4)
memory usage: 321.5+ KB

In [71]:
dataset = train_data.copy()  # copying the data, so that if bymistakely we did something wrong which cannot be revert,
                             # then we can simply run this cell and we get back our origional data.
dataset.tail()

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue
4566,28-02-2021,campaign 1,adgroup 3,ad 55,19,6,0.07,0,0.0
4567,28-02-2021,campaign 1,adgroup 4,ad 55,1,0,0.00,0,0.0
4568,28-02-2021,campaign 1,adgroup 3,ad 56,16,8,0.12,1,93.2
4569,28-02-2021,campaign 1,adgroup 1,ad 56,37,13,0.23,0,0.0
4570,28-02-2021,campaign 1,adgroup 1,ad 55,19,10,0.14,0,0.0

In [72]:
dataset.isnull().sum()

date           0
campaign       0
adgroup        0
ad             0
impressions    0
clicks         0
cost           0
conversions    0
revenue        0
dtype: int64

In [73]:
null_feat = [i for i in dataset.columns if dataset[i].isnull().sum() != 0]
null_feat

[]

In [74]:
dropped_col=null_feat
for i in null_feat:
    print(f"{i} --> {dataset[i].unique()}")

In [75]:
num_feat = [i for i in dataset.columns if dataset[i].dtypes != 'O']
len(num_feat)

5

In [76]:
dataset[set(dataset.columns) - set(num_feat)].head(2)

     ad    campaign        date    adgroup
0  ad 1  campaign 1  01-08-2020  adgroup 1
1  ad 1  campaign 1  01-08-2020  adgroup 2

In [77]:
dataset[set(dataset.columns) - set(num_feat)].dtypes

ad          object
campaign    object
date        object
adgroup     object
dtype: object

In [78]:
cat_feat = dataset[set(dataset.columns) - set(num_feat)]

In [79]:
dataset[num_feat].head(2)

   impressions  clicks  cost  conversions  revenue
0           24       6  0.08            0      0.0
1            1       0  0.00            0      0.0

In [80]:
float_feat = [i for i in num_feat if dataset[i].dtypes == 'float']
float_feat

['cost', 'revenue']

In [81]:
for i in cat_feat:
    print(i)
    print(dataset[i].unique())
    print("------------------------------------")

ad
['ad 1' 'ad 2' 'ad 3' 'ad 4' 'ad 5' 'ad 6' 'ad 7' 'ad 8' 'ad 9' 'ad 10'
 'ad 11' 'ad 12' 'ad 13' 'ad 14' 'ad 15' 'ad 16' 'ad 17' 'ad 18' 'ad 19'
 'ad 20' 'ad 21' 'ad 22' 'ad 23' 'ad 24' 'ad 25' 'ad 26' 'ad 27' 'ad 28'
 'ad 29' 'ad 30' 'ad 31' 'ad 32' 'ad 33' 'ad 34' 'ad 35' 'ad 36' 'ad 37'
 'ad 38' 'ad 39' 'ad 40' 'ad 41' 'ad 42' 'ad 43' 'ad 44' 'ad 45' 'ad 46'
 'ad 47' 'ad 48' 'ad 49' 'ad 50' 'ad 51' 'ad 52' 'ad 53' 'ad 54' 'ad 55'
 'ad 56' 'ad 57' 'ad 58' 'ad 59' 'ad 60' 'ad 61' 'ad 62' 'ad 63' 'ad 64'
 'ad 65' 'ad 66' 'ad 67' 'ad 68' 'ad 69' 'ad 70']
------------------------------------
campaign
['campaign 1']
------------------------------------
date
['01-08-2020' '02-08-2020' '03-08-2020' '04-08-2020' '05-08-2020'
 '06-08-2020' '07-08-2020' '08-08-2020' '09-08-2020' '10-08-2020'
 '11-08-2020' '12-08-2020' '13-08-2020' '14-08-2020' '15-08-2020'
 '16-08-2020' '17-08-2020' '18-08-2020' '19-08-2020' '20-08-2020'
 '21-08-2020' '22-08-2020' '23-08-2020' '24-08-2020' '25-08-2020'
 '26-08-2020' '27-08-2020' '28-08-2020' '29-08-2020' '30-08-2020'
 '31-08-2020' '01-09-2020' '02-09-2020' '03-09-2020' '04-09-2020'
 '05-09-2020' '06-09-2020' '07-09-2020' '08-09-2020' '09-09-2020'
 '10-09-2020' '11-09-2020' '12-09-2020' '13-09-2020' '14-09-2020'
 '15-09-2020' '16-09-2020' '17-09-2020' '18-09-2020' '19-09-2020'
 '20-09-2020' '21-09-2020' '22-09-2020' '23-09-2020' '24-09-2020'
 '25-09-2020' '26-09-2020' '27-09-2020' '28-09-2020' '29-09-2020'
 '30-09-2020' '01-10-2020' '02-10-2020' '03-10-2020' '04-10-2020'
 '05-10-2020' '06-10-2020' '07-10-2020' '08-10-2020' '09-10-2020'
 '10-10-2020' '11-10-2020' '12-10-2020' '13-10-2020' '14-10-2020'
 '15-10-2020' '16-10-2020' '17-10-2020' '18-10-2020' '19-10-2020'
 '20-10-2020' '21-10-2020' '22-10-2020' '23-10-2020' '24-10-2020'
 '25-10-2020' '26-10-2020' '27-10-2020' '28-10-2020' '29-10-2020'
 '30-10-2020' '31-10-2020' '01-11-2020' '02-11-2020' '03-11-2020'
 '04-11-2020' '05-11-2020' '06-11-2020' '07-11-2020' '08-11-2020'
 '09-11-2020' '10-11-2020' '11-11-2020' '12-11-2020' '13-11-2020'
 '14-11-2020' '15-11-2020' '16-11-2020' '17-11-2020' '18-11-2020'
 '19-11-2020' '20-11-2020' '21-11-2020' '22-11-2020' '23-11-2020'
 '24-11-2020' '25-11-2020' '26-11-2020' '27-11-2020' '28-11-2020'
 '29-11-2020' '30-11-2020' '01-12-2020' '02-12-2020' '03-12-2020'
 '04-12-2020' '05-12-2020' '06-12-2020' '07-12-2020' '08-12-2020'
 '09-12-2020' '10-12-2020' '11-12-2020' '12-12-2020' '13-12-2020'
 '14-12-2020' '15-12-2020' '16-12-2020' '17-12-2020' '18-12-2020'
 '19-12-2020' '20-12-2020' '21-12-2020' '22-12-2020' '23-12-2020'
 '24-12-2020' '25-12-2020' '26-12-2020' '27-12-2020' '28-12-2020'
 '29-12-2020' '30-12-2020' '31-12-2020' '01-01-2021' '02-01-2021'
 '03-01-2021' '04-01-2021' '05-01-2021' '06-01-2021' '07-01-2021'
 '08-01-2021' '09-01-2021' '10-01-2021' '11-01-2021' '12-01-2021'
 '13-01-2021' '14-01-2021' '15-01-2021' '16-01-2021' '17-01-2021'
 '18-01-2021' '19-01-2021' '20-01-2021' '21-01-2021' '22-01-2021'
 '23-01-2021' '24-01-2021' '25-01-2021' '26-01-2021' '27-01-2021'
 '28-01-2021' '29-01-2021' '30-01-2021' '31-01-2021' '01-02-2021'
 '02-02-2021' '03-02-2021' '04-02-2021' '05-02-2021' '06-02-2021'
 '07-02-2021' '08-02-2021' '09-02-2021' '10-02-2021' '11-02-2021'
 '12-02-2021' '13-02-2021' '14-02-2021' '15-02-2021' '16-02-2021'
 '17-02-2021' '18-02-2021' '19-02-2021' '20-02-2021' '21-02-2021'
 '22-02-2021' '23-02-2021' '24-02-2021' '25-02-2021' '26-02-2021'
 '27-02-2021' '28-02-2021']
------------------------------------
adgroup
['adgroup 1' 'adgroup 2' 'adgroup 3' 'adgroup 4']
------------------------------------

In [82]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
for i in cat_feat:
    dataset[i] = label.fit_transform(dataset[i])

In [83]:
dataset.head(2)

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue
0,2,0,0,0,24,6,0.08,0,0.0
1,2,0,1,0,1,0,0.00,0,0.0

In [84]:
dataset.dtypes

date             int32
campaign         int32
adgroup          int32
ad               int32
impressions      int64
clicks           int64
cost           float64
conversions      int64
revenue        float64
dtype: object

In [85]:
dataset.to_csv('final_dataset',header=True, index=False)
final_dataset = pd.read_csv('./final_dataset')
final_dataset.head(2)

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue
0,2,0,0,0,24,6,0.08,0,0.0
1,2,0,1,0,1,0,0.00,0,0.0

In [86]:
X_train = final_dataset.drop('revenue', axis=1)
y_train = final_dataset['revenue']

In [87]:
columns = X_train.columns
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
scaled = scale.fit(X_train)
X_train_scaled = pd.DataFrame(scale.transform(X_train), columns=columns)

In [88]:
X_train_scaled.head(2)

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions
0,-1.674046,0.0,-1.328065,-1.291476,-0.346072,-0.372834,-0.189472,-0.256367
1,-1.674046,0.0,-0.414508,-1.291476,-0.462041,-0.432742,-0.195043,-0.256367

In [89]:
test_data = pd.read_csv('Test_Data.csv')
test_data.head(2)

,date,campaign,adgroup,ad,cost,impressions,clicks,conversions
0,01-03-2021,campaign 1,adgroup 1,ad 1,0.58,121,49,1
1,01-03-2021,campaign 1,adgroup 3,ad 1,0.17,22,12,0

In [90]:
test_data.drop(dropped_col, axis=1, inplace=True)

In [91]:
label = LabelEncoder()
for i in cat_feat:
    test_data[i] = label.fit_transform(test_data[i])
test_data.head()

   date  campaign  adgroup  ad  cost  impressions  clicks  conversions
0     0         0        0   0  0.58          121      49            1
1     0         0        2   0  0.17           22      12            0
2     0         0        3   0  0.05            5       3            0
3     0         0        1   0  0.01            2       1            0
4     0         0        1   2  0.01            3       1            0

In [92]:
test_data.isnull().sum()

date           0
campaign       0
adgroup        0
ad             0
cost           0
impressions    0
clicks         0
conversions    0
dtype: int64

In [93]:
test_null = [i for i in test_data.columns if test_data[i].isnull().sum() > 0]
test_null

[]

In [94]:
test_data[test_null].dtypes

Series([], dtype: object)

In [95]:
for i in test_null:
    test_data[i].fillna(test_data[i].mean(), inplace = True)

In [96]:
test_data.isnull().sum()

date           0
campaign       0
adgroup        0
ad             0
cost           0
impressions    0
clicks         0
conversions    0
dtype: int64

In [97]:
test_data.shape

(318, 8)

In [98]:
X_test = scale.fit(test_data)
X_test_scaled = pd.DataFrame(scale.transform(test_data), columns=columns)

In [99]:
X_test_scaled.head(2)

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions
0,-1.708476,0.0,-1.312635,-1.358759,0.336378,0.533645,0.427218,0.108337
1,-1.708476,0.0,0.555007,-1.358759,-0.357891,-0.447332,-0.392656,-0.447328

In [100]:
from sklearn.ensemble import AdaBoostRegressor
lin_reg = AdaBoostRegressor(random_state = 24, n_estimators = 35)
model = lin_reg.fit(X_train_scaled, y_train)
model.score(X_train_scaled, y_train)

0.9600984068994028

In [101]:
sample = pd.read_csv('Sample_Submission.csv')
y_pred = model.predict(X_test_scaled)
result = pd.DataFrame({sample.columns[0] : y_pred})
result.to_csv('submission.csv', index=False)